.sidebar-link.NuxtLink-exact-active {
  color: #ef5285;
}

.space-below .list-inline-item {
  margin-bottom: 0.5rem;
}

a.listing-img-holder {
  min-height: 150px;
}

a.glightbox {
  min-height: 300px;
  position: relative;
}

/* Component transition */
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 300ms ease;
}
.fade-leave-to {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 300ms ease;
  transition-delay: 300ms;
}
.fade-enter-to {
  opacity: 1;
}

/* loading images */

.is-loading {
  background-color: #e6e6e6;
}

.is-broken {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/broken.png');
  background-color: #be3730;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-bottom: 1.5rem;
}

.is-loading,
.is-loading .lds-spinner {
  display: block;
}
.lds-spinner {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
